.Container {
  width: 80%;
  box-sizing: border-box;
  margin-left: 10%;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 5px 15px black;
  background-color: antiquewhite;
}
.txt {
  padding: 2%;
}
