.NavBarTienda {
  box-sizing: border-box;
  width: 40%;
  display: flex;
  padding: 10px 25px;
  margin-left: 55%;
  box-shadow: 1px 5px 15px black;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(182, 182, 182, 0.671);
}

ul {
  list-style: none;
  display: flex;
  width: 70%;
}

ul li {
  font-size: 100%;
  color: azure;
  display: flex;
  justify-content: space-evenly;
  margin-right: 40%;
}
