header {
  box-sizing: border-box;
}

header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 25px;
  margin-bottom: 3%;
  box-shadow: 1px 5px 15px black;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
}

img.img-header {
  width: 40%;
  border: 2px solid red;
  border-radius: 8px;
  margin-left: 15px;
}

ul.navbar {
  list-style: none;
  display: flex;
  width: 60%;
  margin-right: 30%;
}

ul.navbar li {
  font-size: 20px;
  color: azure;
  display: flex;
  justify-content: space-evenly;
  margin-right: 20%;
}
ul.navbar li a:any-link {
  text-decoration: none;
}

.link {
  font-weight: 600;
  border: 3px solid;
  padding: 4px 10px;
  box-shadow: 1px 5px 15px black;
  transition: 0.3s ease-in-out;
  will-change: transform;
  color: red;
  letter-spacing: 1px;
}

.link:hover {
  transform: scale(1.05);
}
