header.main-header {
  width: 100%;
  display: flex;
  padding: 10px 25px;
  box-shadow: 1px 5px 15px black;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
}

img.img-header {
  width: 300px;
  border: 2px solid red;
  border-radius: 8px;
}

ul.navbar {
  list-style: none;
  display: flex;
}

ul.navbar li {
  margin-right: 70px;
}

ul.navbar li button {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(61, 61, 61, 0.507);
  box-shadow: 1px 5px 15px black;
  color: white;
}
